#video_container{
   
    margin: 20px;
    text-align: center;
    width:400px;
    height:350px;
    display: inline-block;
    /* position:absolute; */
    top:150px;
    left: 100px;
    margin-bottom: 0px;
    /* z-index: 1; */

}
#video_container_2{
   
    /* margin: 20px; */
    text-align: center;
    width:400px;
    height:350px;
    display: inline-block;
    /* position:absolute; */
    top:150px;
    right: 100px;
}

video {
    width: 100%;
    
}
body{
background-color:#200000;

}          
.container-fluid {
background-image: linear-gradient( #680101, #200000);
color: white;
text-align: center;
}
#rap_live {
    font-size: 45px;
    top: 25%;
}
.pane {
    text-align: center;
}
.button {
    color: black;
}


#join {
    border-radius: 10px;
    margin-top: 7%;
    border: 2px solid white;

}

#join:hover {
    color: white;
    background: #680101;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  -webkit-opacity: 1;
  background: white;

}


#beat_selection {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
    color: white;
    position: relative;
}

.beats {
    text-align: center;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    

}
    

.left {
    color: white;
    position: relative;
    text-align: center;
    margin-right: 2%;
    max-width: 30%;
    margin: 0 auto;
    display: block;
    
}

.right {
    color: white;
    position: relative;
    text-align: center;
    margin-left: 2%;
    max-width: 30%;
    margin: 0 auto;
    display: block;
    
}

audio {
    margin-bottom: 4%;
}


@media (max-width: 800px) {

    video {
        width: 95%;
    }

    #video_container, #video_container_2 {
        margin: 0;
        width: 100%;
        height: 100%;

    }

    .beats, .left, .right  {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0;
        min-width: 100%;
        margin-top: 10%;
    }

    .right {
        margin-top: 0;
    }

    p {
        margin: auto;
        font-size: 1.25em;
        padding: 3%;
    }

    #beat_selection {
        margin-top: 10%;
    }

}