#video_container{
   
    margin: 20px;
    text-align: center;
    width:400px;
    height:350px;
    display: inline-block;
    /* position:absolute; */
    top:150px;
    left: 100px;
    /* z-index: 1; */

}
#video_container_2{
   
    margin: 20px;
    text-align: center;
    width:400px;
    height:350px;
    display: inline-block;
    /* position:absolute; */
    top:150px;
    right: 100px;
}

video {
    width: 100%;
    
}
body{
background-color:#200000;

}          
.container-fluid {
background-image: linear-gradient( #680101, #200000);
color: white;
text-align: center;
}
#rap_live {
    font-size: 45px;
    top: 25%;
}
.pane {
    text-align: center;
}
.button {
    color: black;
}

#join {
    border-radius: 10px;
    margin-top: 7%;
    border: 2px solid white;
}

#join:hover {
    color: white;
    background: #680101;
}

#beat_selection {
    text-align: center;
    margin-top: 8%;
    margin-bottom: 3%;
    color: white;
}

.beats {
    text-align: center;
    margin-bottom: 10%;
}



@media (max-width: 800px) {

    video {
        width: 95%;
    }

    #video_container, #video_container_2 {
        margin: 0;
        width: 100%;
        height: 100%;

    }


}